<div class="loading-box">
  <h1>Loading...</h1>
</div>

<div class="main-area">
<!--   <div class="alert alert-warning alert-dismissable">
  <div class="alert alert-warning alert-dismissable alert-whatevs-im-tired">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>Be sure to enter your screen name!</p>
  </div> -->

  <div class="chat">
    <h2>Chat</h2>
    <% if @game.name == "backgammon" %>
      <div class="dice-roll">
        <%= link_to "Roll Dice!", "/games/roll/#{@game.secure_room_code}", method: "post", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>
    <div class="messages-box">
      <ul id="chat">
        <% @game.messages.each do |message| %>
          <%= sync partial: 'message', resource: message %>
        <% end %>
        <%= sync_new partial: 'message', resource: Message.new, scope: @game %>
      </ul>
    </div>

    <div class="message-input">
      <%= form_for Message.new do |f| %>
        <%= f.text_field :name, :placeholder => "Screen name" %>
        <%= f.text_area :content, :size => "32x4" %>
        <%= f.submit "Send", class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
  </div>

  <div class="tabletop">
    <div class="truecenter">
      <div class="board">
        <img src="<%= image_path(@game.board.image) %>">
        <% @game.tokens.each do |token| %>
          <%= sync partial: 'token', resource: token %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="menu">
    <%= link_to "Reset Game", reset_path(@game.secure_room_code), class: "btn btn-success btn-md" %><br>
    <%= link_to "Home", root_path, class: "btn btn-success btn-md" %>
  </div>

</div>
