<img src="<%= image_path(@game.board.image) %>">

<% @game.tokens.each do |token| %>
  <%= sync partial: 'token', resource: token %>
<% end %>

<div>
  <h3>Chat</h3>

  <ul id="chat">
    <% @game.messages.each do |message| %>
      <%= sync partial: 'message', resource: message %>
    <% end %>
    <%= sync_new partial: 'message', resource: Message.new, scope: @game %>
  </ul>

  <%= form_for Message.new, :remote => true do |f| %>
    <%= f.text_field :content %>
    <%= f.submit "Send" %>
  <% end %>
</div>
